<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709611040106-8vgnih90lale6j4uir91o5gelim0ba5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709611040106-8vgnih90lale6j4uir91o5gelim0ba5k</string>
	<key>API_KEY</key>
	<string>AIzaSyDzUr35w9rgVN7UN0JT-UqdVAnq7q2qlvM</string>
	<key>GCM_SENDER_ID</key>
	<string>709611040106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metis-investment.app</string>
	<key>PROJECT_ID</key>
	<string>collabothon23fra-1267</string>
	<key>STORAGE_BUCKET</key>
	<string>collabothon23fra-1267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:709611040106:ios:88a7c1f28139e3996f4913</string>
</dict>
</plist>
